<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<!-- <script type="text/javascript" src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="M2NlNDE5ZDItNTBhNS00ZWJlLWE1OWMtNWRkNGM2ZTM3MmI1NjM2OTAzNTcyMzYyMDcwNzEw"></script> -->

        <script type="text/javascript" id="snipcart" data-api-key="M2NlNDE5ZDItNTBhNS00ZWJlLWE1OWMtNWRkNGM2ZTM3MmI1NjM2OTAzNTcyMzYyMDcwNzEw" src="https://cdn.snipcart.com/scripts/2.0/snipcart.js"></script>

<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />